*.opensdf

*.sdf

*.ipch

*.suo

*.exp

*.ilk

*.pdb

*.iobj

*.ipdb

*.aps

*.user

*.tlog

*.obj

*.log

*.res

*.idb

*.pch

*.lastbuildstate

*.db



# Directories

ipch

Debug

Release



# Executables

*.exe

*.dll

*.lib



출처: https://ogoons.tistory.com/116 [오군의 기술 블로그]